header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href="#") Todo
      button.navbar-toggler(type="button"
                            data-toggle="collapse"
                            data-target="#navbarCollapse"
                            aria-controls="navbarCollapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item: a.nav-link(href="#") Home
          li.nav-item: a.nav-link(href="#") Link
          li.nav-item: a.nav-link.disabled(href="#") Disabled